<% 
if future
  tableid = 'cruises-future'
else
  tableid = 'cruises-completed'
end 
-%>
<table id="<%= tableid %>" class="cruises-table" summary="Cruises table">
  <thead>
    <tr>
      <% sort_dir = params[:sort_dir] == 'ASC' ? 'DESC' : 'ASC' %>
      <th scope="col" class="name"><%= cruises_header_sort('Cruise', 'cruise', tableid) %></th>
      <th scope="col" class="dates"><%= cruises_header_sort('Dates', 'dates', tableid) %></th>
      <th scope="col" class="expocode"><%= cruises_header_sort('CCHDO ExpoCode', 'expocode', tableid) %><p class='smaller'>Cruise report, Station map, CTD and Bottle data</p></th>
      <th scope="col" class="ship"><%= cruises_header_sort('Ship', 'ship', tableid) %></th>
      <th scope="col" class="days"><%= cruises_header_sort('Days', 'days', tableid) %></th>
      <th scope="col" class="stations"><%= cruises_header_sort('Stations', 'stations', tableid) %></th>
      <th scope="col" class="ports">Ports</th>
      <th scope="col" class="contacts"><%= cruises_header_sort('Contact/Chief Scientist', 'contact', tableid) %><p class="smaller">(overall coordinator: Jim Swift, SIO)</p></th>
      <% if not future -%>
        <th scope="col" class="doc-results">Underway Navigation, Bathymetry, Seawater, pCO2 data</th>
        <th scope="col" class="doc-results">Underway ADCP data</th>
        <th scope="col" class="doc-results">Lowered ADCP data</th>
        <th scope="col" class="doc-results">Underway Met. data</th>
      <% else -%>
        <th scope="col" class="doc-results">&nbsp;</th>
        <th scope="col" class="doc-results">&nbsp;</th>
        <th scope="col" class="doc-results">&nbsp;</th>
        <th scope="col" class="doc-results">&nbsp;</th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
  <% for cruise in cruises -%>
    <% if not cruises_hidden?(cruise) -%>
      <tr id="<%= cruise.name.parameterize %>">
        <td class="name"><%= cruises_link(cruise) %></td>
        <td class="dates"><%= cruises_dates(cruise) %></td>
        <td class="expocode"><%= cruises_link(cruise, cruise.expocode) %></td>
        <td class="ship"><%= cruises_ship(cruise) %></td>
        <td class="days"><%= cruises_days(cruise) %></td>
        <td class="stations"><%= cruise.stations %></td>
        <td class="ports"><%= cruises_port(cruise) %></td>
        <td class="contacts"><%= cruise.contact %></td>
        <% if not future -%>
          <td class="doc-results"><%= cruises_underway_nav_link(cruise) %></td>
          <td class="doc-results"><%= cruises_underway_adcp_link(cruise) %></td>
          <td class="doc-results"><%= cruises_lowered_adcp_link(cruise) %></td>
          <td class="doc-results"><%= cruises_underway_meta_link(cruise) %></td>
        <% else -%>
          <td class="doc-results"></td>
          <td class="doc-results"></td>
          <td class="doc-results"></td>
          <td class="doc-results"></td>
        <% end -%>
      </tr>
    <% end -%>
  <% end -%>
  </tbody>
</table>
