<!DOCTYPE html>

<p class="progress">
Wednesday, 17 February 2011<br>
McMurdo Base, Antarctica<br>
-5 &deg;C / 23 &deg;F<br>
wind calm<br>
</p>

<p>Dear Family, Friends, and Colleagues,</p>

<p>Greetings from Antarctica! Our team traveled from our homes first to
Christchurch, New Zealand, where we assembled and enjoyed the sunny
weather and green gardens before our trip south. We had been told ahead to
pack a "boomerang bag" which we would take with us if our flight to
Antarctica was turned back en route by fast-changing Antarctic weather,
because we would not get all our luggage back until we finally made it to
Antarctica.  (We found out that the record for consecutive boomerangs was
seven!)  We had also been told that certain items were required in our
carry on bags, which had to fit under our seats. We thought these were one
in the same so were quite relieved to be told during the pre-flight
briefing the day before our flight that the boomerang bag was just one of
our checked bags.</p>

<p class="img-right">
<%= image_tag 'blog/exiting_C17_at_McMurdo.jpeg' -%><br>
<caption>Exiting the C-17 at McMurdo Station (Swift)</caption>
</p>

<p>Our 5-hour flight from Christchurch to McMurdo was on a US Air Force C-17
transport.  The flight was smooth (and noisy - we wore ear plugs), and the
bag lunch they gave us enough for two. We got to take turns going into the
cockpit to take photos of Antarctica from the aircraft. The landing was
super-smooth and then, Wow!, we stepped out and found ourselves on this
giant ice sheet in Antarctica, with a smoking Mt. Erebus in the
background! The US Antarctic Program (USAP) staff took us in large polar
transporters across the ice sheet and then around roads to the McMurdo
base. On the way we saw penguins, seals, the New Zealand base, and more
great bleak Antarctic scenery. We had a quick orientation briefing, were
issued room keys and linens, told where to get food and our luggage, and
given a schedule for a few events we'd want to attend.</p>

<p class="img-left">
<%= image_tag 'blog/supplies_inside_Scott_hut.jpeg' -%><br>
<caption>Supplies inside the Scott "Discovery" Hut (Swift)</caption>
</p>

<p>The large USAP McMurdo base resembles a clean, well-run polar mining town
with about 1000 residents. There are no commercial activities, but
otherwise it has just about everything you'd expect: dorms, a cafeteria
(serving a variety of hearty food), a small store, post office, coffee
house, bar, labs, gyms, support buildings ad infinitum, lots of heavy
equipment, warehouses, fuel tanks, etc. Impressive attention is paid to
waste management, recycling, and environmental stewardship, making it one
of the cleanest towns on earth. There is a port - open only a very short
time each year, and that only after break-in by a heavy icebreaker - with
a man-made pier made of reinforced ice.  There are hiking trails and
historic sites. We had a guided tour to Robert Scott's "Discovery Hut"
from 1902, close by the base (see
<a href="http://en.wikipedia.org/wiki/Discovery_Hut">here</a>). While anyone can walk there,
because we had a guide we were allowed inside, seven at a time. In the
"freeze-dried" environment of Antarctica, everything down to animal
carcasses awaiting skinning and boxes of supplies was just as it was, and
is being left that way for the future.</p>

<p>Speaking of "freeze-dried", that's how we felt after walking back from the
hut to the base into a stiff and very cold wind - evening air temperature
had dropped to 5 &deg;F - the term "wind chill" (in that case well below
-20) was certainly appropriate! (In Christchurch the USAP issued us cold
weather clothing, and we were glad we had it.)  But for the most part
temperatures have been in the teens, and today's 23 &deg;F and light winds
make it feel almost balmy.</p>

<p class="img-right">
<%= image_tag 'blog/Palmer_arriving_at_McMurdo.jpeg' -%><br>
<caption>R/V Nathaniel B. Palmer arriving at McMurdo Station (Swift)</caption>

<p>Our ship, the research icebreaker Nathaniel B. Palmer, arrived yesterday
morning and fueling began immediately. (The McMurdo base reverts to its
200-person winter status this weekend and the fueling crew needed to get
done so they could head home.) The departing science party will be off the
ship this morning, and we board and begin loading right after lunch today.</p>

<p>There have been many little hiccups along the way, and one giant one: Much
of our "do not freeze" cargo was inexplicably left sitting out in
sub-freezing conditions, despite being correctly and unmistakably labeled
as "Do Not Freeze". (There are procedures for this, beginning with a cargo
plan before we even ship the items from our labs, and every group affected
by this incredible blunder had followed instructions perfectly.) Even the
ship's "do not freeze" food was sitting out in the cold. One container of
our DNF cargo was correctly kept above freezing, and by some miracle that
contained the standards for salinity and carbon, without which we would
have had to cancel the expedition. But the Argo floats - worth $500,000 -
were not so lucky, and must be shipped back, unused. (They would have
provided the first winter CTD casts from much of this region.) We will not
know the extent of damage to our other programs until we begin
measurements, but we are hopeful that we can work around most problems.</p>

<p>We have a very good team for this cruise. I enjoy the way everyone gets
along together and can tell already we will work together well as one
team. I met the Captain last night, and was impressed in every respect.
Our on-board Raytheon Polar Services Corporation support staff are a good
bunch. So prospects are good for our upcoming voyage. Last night we all
unwound in the bar, and in a few hours we begin loading. I'll report again
when we leave port.</p>

<p>Best Regards,<br>
Jim Swift<br>
</p>

<!--
PS - Because I do not go onto the ship's very limited email
(james.swift.guest@nbp.usap.gov) until tomorrow, I can send lots of photos
today from the McMurdo base internet:

"exiting_C17_at_McMurdo.jpg" shows us exiting the C-17 on the ice shelf
runway near McMurdo.

"MtErebus_telephoto_from_ice_runway.jpg" shows the smoking Mt. Erebus
active volcano from the ice runway.

"penguins_on_ice_shelf.jpg" and "seals_on_ice_shelf.jog" show Emperor
penguins and Weddell seals seen through the windows of the polar
transporter on our way from the ice shelf runway to the USAP McMurdo base.

"supplies_inside_Scott_hut.jpg" and "carcasses_inside_Scott_hut.jpg" were
taken during my tour of the Scott 1902 "Discovery" hut.

"Palmer_arriving_at_McMurdo.jpg" shows the ship turning toward the base,
with a backdrop of bleak Antarctic mountains.

"NBP_and_McMurdo.jpg" shows the Scott "Discovery" hut in the foreground,
the Nathaniel B. Palmer at the ice pier, and the McMurdo base behind.  The
row of tan and brown buildings just above and to the right of the ship in
the photo are the main dorms, and some of the many other building in this
"science town" of 1000 people are visible, too.
-->

<p>
<table style="margin-left:auto;margin:right:auto" />
  <tr>
    <td><%= image_tag 'blog/MtErebus_telephoto_from_ice_runway.jpeg' -%></td>
    <td><%= image_tag 'blog/penguins_on_ice_shelf.jpeg' -%></td>
  </tr>
  <tr>
    <td><span class="caption">Mt. Erebus, as seen from the runway (Swift)</span></td>
    <td><span class="caption">Penguins on the ice shelf (Swift)</span></td>
  </tr>
  <tr>
    <td><%= image_tag 'blog/seals_on_ice_shelf.jpeg' -%></td>
    <td><%= image_tag 'blog/carcasses_inside_Scott_hut.jpeg' -%></td>
  </tr>
  <tr>
    <td><span class="caption">Seals on the ice shelf (Swift)</span></td>
    <td><span class="caption">Carcasses in the Scott "Discovery" Hut (Swift)</span></td>
  </tr>
</table>
</p>
