<% content_for :title do -%>Correspondence<% end -%>

<div class="outreach_main_content">
	<div id="outreach_page_title" style="margin-top: 20px;">S4P: Weekly Reports from Sea Blog</div>

	<div class="entry">
		<div class="nav">
		  <span class="older">
		    &nbsp;<% if @prev -%><%= link_to 'Older', @prev -%><% end -%>
		  </span>
		  <span class="toplevel">
		    <%= link_to 'Map view', '/progress/index' -%>
		  </span>
		  <span class="newer">
		    <% if @next -%><%= link_to 'Newer', @next -%><% end -%>&nbsp;
		  </span>
		</div>

		<% @posts.each do |post| -%>
		<div class="post">
		  <h1 class="blog"><%= post.post_date.strftime('%d %b %Y') -%> (<%= post.post_type -%>)</h1>
		  <div class="blog_desc"><%= render :inline => post.excerpt -%></div>
		  <a class="read_more" href="<%= "/blog/#{post.post_type}/#{post.post_date}" -%>">Read more</a>
		</div>
		<% end -%>

		<div class="nav">
		  <span class="older">
		    &nbsp;<% if @prev -%><%= link_to 'Older', @prev -%><% end -%>
		  </span>
		  <span class="toplevel">
		    <%= link_to 'Map view', '/progress/index' -%>
		  </span>
		  <span class="newer">
		    <% if @next -%><%= link_to 'Newer', @next -%><% end -%>&nbsp;
		  </span>
		</div>
	</div>
</div>