<div id="user_nav">
  <ul style="list-style:none; display:inline;">
    <li style="float:left;">
      <%= link_to "Events", staff_events_path %>
    </li>
    <li style="float:left;padding-left:10px;">
      <% if current_user = User.first(session[:user_id]) %>
          Logged in as <%= current_user.email %>
          <%= link_to "Log out", '/sessions/destroy' %>
      <% else %>
          <%= link_to "Sign up", '/sessions/new' %> or
          <%= link_to "Log in", '/users/new' %>
      <% end %>
    </li>
  </ul>
</div>
